body {
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
    background-color: skyblue;
    color: #b57edc;
}

.app {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;

    width: 80%;
    margin: auto;

    background-color: white;
}

.headline {
    height: 3rem;
    background-color: skyblue;
    color: white;
}

.journal {
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
}

.journal-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1rem;
}

.journal-header * {
    margin: 1rem;
}

.journal-content {
    width: 90%;
}


.journal-publish {
    color: skyblue;
}

.history {
    margin: 1rem 0 0;
}

.history-title {
    background-color: skyblue;
    color: white;
}
.history-entry {
    margin: 1rem 0 auto;
    background-image: linear-gradient(white, skyblue);
}

.history-entry-header {
    font: italic 0.8rem sans-serif;
}
.history-entry-content {
    font: normal 1rem serif;
}

button {
    font-size: 26px;
    border: none;
    box-shadow: 2px 4px 5px skyblue;
    margin: 1rem auto;
}



::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #b57edc;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #b57edc;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #b57edc;
}

input,
textarea {
    color: #b57edc;
    border: 1px solid skyblue;
}
